[submodule "am-core"]
	path = am-core
	url = https://github.com/SirBigG/am-core.git
	branch = master
[submodule "am-static"]
	path = am-static
	url = https://github.com/SirBigG/am-static.git
[submodule "am-front"]
	path = am-front
	url = https://github.com/SirBigG/am-front.git
